{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->


<body>
	<!-- Start header -->
	{% include 'header.html' %}
	
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>ADD FOOD</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form method="POST" action="addfoods" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							
							
							<div class="col-md-12">
								<div class="form-group">
								
                                    <select placeholder="foodtype"  id="foodtype" class="form-control" name="foodtype">
                                        <option value="Food Type">Food Type</option>
                                        <option value="Breakfast">Breakfast</option>
                                        <option value="Lunch">Lunch</option>
                                        <option value="Dinner">Snack </option>
                                    </select>
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="price" id="price" class="form-control" name="price" required data-error="Please enter the price">
									<div class="help-block with-errors"></div>
							</div> 
							</div>
                            <div class="col-md-12">
								<div class="form-group">
									<input type="file" placeholder="Image Upload" id="upload" class="form-control" name="image" required data-error="Please enter the food Name">
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Food Name" id="price" class="form-control" name="foodname" required data-error="Please enter the food Name">
									<div class="help-block with-errors"></div>
								</div>  
							</div>
							

							
							<div class="col-md-12">
								
								<div class="submit-button text-center">
									<button class="btn btn-common" id="submit" type="submit">submit</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div> 
									<div class="clearfix"></div> 
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	{% include 'footer.html' %}